<div class="mat-elevation-z8">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>{{ currentRoutePath | titlecase }}</span>
      <button
        mat-raised-button
        style="
          background-color: #e5e3fb;
          color: #6a5ce6;
          border-radius: 20px;
          margin-left: 10px;
        "
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        {{ jobsArray.length }}
      </button>
      <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
    </mat-toolbar-row>
  </mat-toolbar>

  <div
    style="
      background-color: #f1f5f9;
      display: flex;
      justify-content: flex-end;
      min-height: 29px;
    "
  >
    <mat-form-field
      appearance="outline"
      style="
        padding: 0;
        background-color: #ffffff;
        max-height: 29px;
        margin: 15px;
      "
    >
      <button style="margin: 5px" matPrefix disabled>
        <mat-icon>search</mat-icon>
      </button>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="ID/Title/Zipcode..."
        [(ngModel)]="filterText"
        style="
          background-color: #ffffff;
          flex: 1;
          padding: 2px 5px;
          border: none;
          outline: none;
        "
      />
      <button
        style="margin-right: 5px"
        matSuffix
        [ngStyle]="
          filterText ? { visibility: 'visible' } : { visibility: 'hidden' }
        "
        (click)="clearFilter()"
        style="margin-left: 5px"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-form-field>

    <div style="display: flex; align-items: center; padding: 15px">
      <button
        mat-stroked-button
        style="background-color: #ffffff; justify-content: center"
      >
        <mat-icon svgIcon="custom_icon"></mat-icon>
        Filter
      </button>
    </div>

    <div style="display: flex; align-items: center; padding-right: 15px">
      <button
        (click)="openPopoverModal()"
        mat-stroked-button
        style="background-color: #ffffff; justify-content: center"
      >
        <mat-icon>settings</mat-icon>
        Customize
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container
      *ngFor="let column of metaArray"
      [matColumnDef]="column.data_key"
      
    >
      <ng-container >
        <th mat-header-cell [hidden]="!column.checked" *matHeaderCellDef>
          <div *ngIf="column.is_sortable; else notSortable">
            <div mat-sort-header>{{ column.display_name }}</div>
          </div>
          <ng-template #notSortable>{{ column.display_name }}</ng-template>
        </th>
        <td mat-cell [hidden]="!column.checked" *matCellDef="let job; let i = index">
          <div [ngSwitch]="column.display_type">
            <div *ngSwitchCase="'title'">{{ checkValue(job, column, i) }}</div>

            <div *ngSwitchCase="'customer'">
              {{ checkValue(job, column, i) || "N/A" }}
            </div>

            <div *ngSwitchCase="'assignment'">
              <!-- {{ checkValue(job,column,i) }} -->

              <div style="display: flex; margin: 5px">
                <img
                  width="64px"
                  height="64px"
                  [src]="job.assigned_to[0].user.profile_picture"
                  alt="Image Description"
                />
                <div>
                  <h4 style="font-size: 14px; font-weight: bold">
                    {{ job.assigned_to[0].user.first_name }}
                    {{ job.assigned_to[0].user.last_name }}
                  </h4>
                  <p style="font-size: 12px; font-weight: 200">
                    {{ job.assigned_to[0].team.team_name }}
                  </p>
                </div>
              </div>
            </div>

            <div *ngSwitchCase="'scheduledDatetime'">
              {{ job[column.data_key] | date : "dd-MM-yyyy h:mm" }}
            </div>

            <div *ngSwitchCase="'string'">{{ checkValue(job, column, i) }}</div>

            <div
              *ngSwitchCase="'badge'"
              class="status-indicator rounded-circle"
              style="
                border: solid 1px #e74c3c;
                border-radius: 5px;
                background-color: #fbe4e2;
                color: #e74c3c;
                padding: 5px;
              "
            >
              {{ checkValue(job, column, i) }}
            </div>

            <div *ngSwitchCase="'priority'">
              <span
                *ngIf="job[column.data_key] == 'MEDIUM'"
                class="status-indicator rounded-circle"
                style="
                  border: solid 1px #3498db;
                  border-radius: 5px;
                  background-color: #e1f0fa;
                  color: #3498db;
                  padding: 5px;
                "
                >{{ job[column.data_key] | titlecase }}</span
              >
              <span
                *ngIf="job[column.data_key] == 'LOW'"
                class="status-indicator rounded-circle"
                style="
                  border: solid 1px #02b875;
                  border-radius: 5px;
                  background-color: #d9f4ea;
                  color: #02b875;
                  padding: 5px;
                "
                >{{ job[column.data_key] | titlecase }}</span
              >
            </div>

            <div *ngSwitchDefault>{{ job[column.data_key] }}</div>
          </div>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
  <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container> -->

  <div style="display: flex; align-items: center">
    <mat-paginator
      [pageIndex]="page_index"
      [pageSize]="page_index"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>

    <div style="flex: 1"></div>
    <!-- This div will take up the remaining space -->
    <div style="display: flex; margin-right: 10px; align-items: center">
      <h4 style="margin: 10px; font-size: 12px">Go To:</h4>
      <input
        (keydown.enter)="jumpTo()"
        [(ngModel)]="jumpToPage"
        style="border: 1px solid #ccc; padding: 10px; width: 45px; height: 20px"
      />
    </div>
  </div>
</div>
