.collapsed {
    width: 50px; 
  }
  
  .expanded {
    width: 200px; 
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 2px;
  }

  li a span {
    margin-left: 5px;
    padding-top: 5px;
  }
  

  .active-link {
    background-color: red; /* Change this to your desired color */
  }